.product-list {
    padding: 1em;
    background-color: lightcoral;
    border-radius: 1em;
    margin-bottom: 3em;

    .products {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
}