.product-list {
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 3em;
    border-bottom: 2px solid lightgray;

    .products {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
}